nodered.json
[{
	"id": "a05ff622.407118",
	"type": "udp in",
	"z": "16d63214.4da25e",
	"name": "Get data from Raspberry Pi",
	"iface": "",
	"port": "2927",
	"ipv": "udp4",
	"multicast": "false",
	"group": "",
	"datatype": "utf8",
	"x": 180,
	"y": 380,
	"wires": [["7f393c8b.8a57f4",
	"716788c6.56f648"]]
},
{
	"id": "7f393c8b.8a57f4",
	"type": "function",
	"z": "16d63214.4da25e",
	"name": "Massage UDP Data",
	"func": "msg.payload={'readingFromMaster':msg.payload} \nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 500,
	"y": 280,
	"wires": [["aca696f6.4e8818",
	"ca2e4148.303d3"]]
},
{
	"id": "aca696f6.4e8818",
	"type": "debug",
	"z": "16d63214.4da25e",
	"name": "Show value on debug monitor",
	"active": true,
	"console": "false",
	"complete": "payload",
	"x": 1090,
	"y": 180,
	"wires": []
},
{
	"id": "ca2e4148.303d3",
	"type": "wiotp out",
	"z": "16d63214.4da25e",
	"authType": "d",
	"qs": "false",
	"qsDeviceId": "",
	"deviceKey": "120968a9.3fa167",
	"deviceType": "",
	"deviceId": "",
	"event": "event",
	"format": "json",
	"qos": "",
	"name": "Send data to Cloudant",
	"x": 1060,
	"y": 340,
	"wires": []
},
{
	"id": "417bd9ea.ef9798",
	"type": "e-mail",
	"z": "16d63214.4da25e",
	"server": "smtp.gmail.com",
	"port": "465",
	"secure": true,
	"name": "nitin.chauhan.101@gmail.com",
	"dname": "Send Email",
	"x": 1030,
	"y": 480,
	"wires": []
},
{
	"id": "97daf756.25b098",
	"type": "switch",
	"z": "16d63214.4da25e",
	"name": "Filter out false",
	"property": "topic",
	"propertyType": "msg",
	"rules": [{
		"t": "eq",
		"v": "Emergency!",
		"vt": "str"
	}],
	"checkall": "true",
	"outputs": 1,
	"x": 740,
	"y": 480,
	"wires": [["417bd9ea.ef9798"]]
},
{
	"id": "716788c6.56f648",
	"type": "function",
	"z": "16d63214.4da25e",
	"name": "Check if critical",
	"func": "if(msg.payload > 960){\n    msg = {\n        payload :\"The message alarm has been triggered \"+ msg.payload,\n        topic: \"Emergency!\"\n    };\n}\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 480,
	"y": 480,
	"wires": [["97daf756.25b098"]]
},
{
	"id": "120968a9.3fa167",
	"type": "wiotp-credentials",
	"z": "",
	"name": "",
	"org": "6hufwa",
	"serverName": "6hufwa.messaging.internetofthings.ibmcloud.com",
	"devType": "PiForMasterData",
	"devId": "PiBrain",
	"keepalive": "60",
	"cleansession": true,
	"tls": "",
	"usetls": false
}]